@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2  class="text-dark">Visualizza le nostre pizze!!</h2>    
    <p>  <a class="btn btn-primary" href="~/Pizza">QUI</a></p>
</div>
